extends ./layout/index

block contenido
    main.container.mt-5 
        .row
            .col-md-5 
                img(src="img/nosotros.jpg", alt="France", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Amamos viajar, nos fascina, es parte de nuestro proyecto de vida. Y también amamos volver a nuestro hogar. En cada viaje que realizamos sentimos que volvemos de otra manera. Sí, un viaje nos cambia: las experiencias vividas, el contacto con otra gente y otras culturas hacen que uno vuelva “de otra manera”. Por eso elegimos llamarnos Moebius, como la cinta de Moebius en que uno comienza el recorrido y vuelve al mismo lugar pero del otro lado, al revés. Metafóricamente la cinta de Moebius expresa nuestro volver de cada viaje enriquecidos, cambiados, de otra manera.
  
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono_seguridad", class="img-fluid md-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus aspernatur provident quibusdam nisi! Exercitationem veritatis natus libero magni aliquam repellendus eum saepe, accusantium tenetur quos eius voluptatem quisquam itaque ea.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono_destino", class="img-fluid md-4")
                    h2.mb-4 Mejores Destinos 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus aspernatur provident quibusdam nisi! Exercitationem veritatis natus libero magni aliquam repellendus eum saepe, accusantium tenetur quos eius voluptatem quisquam itaque ea.

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono_precios", class="img-fluid md-4")
                    h2.mb-4 Los Mejores Precios
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus aspernatur provident quibusdam nisi! Exercitationem veritatis natus libero magni aliquam repellendus eum saepe, accusantium tenetur quos eius voluptatem quisquam itaque ea. 