extends ./layout/index

block contenido
    main.container.mt-5 
        .row
            .col-md-5 
                img(src="img/nosotros.jpg", alt="France", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis aliquet nisi at laoreet convallis. Vivamus congue malesuada ante vel scelerisque. Mauris vel scelerisque est. Integer nec augue imperdiet, pharetra enim non, blandit sem. Maecenas eu condimentum lorem, nec cursus ligula. Morbi in elit lectus. Pellentesque nec placerat massa.

                p Morbi volutpat, quam nec elementum porttitor, sem ex luctus ex, eget blandit purus massa a arcu. Nulla facilisi. Aliquam erat volutpat. Morbi ut enim elit. Phasellus pharetra purus eu imperdiet lacinia.

                p Aliquam lacus diam, accumsan et enim quis, volutpat feugiat ligula. Nullam hendrerit imperdiet ultrices. Sed accumsan, leo id bibendum porttitor, massa urna iaculis dolor, id interdum nulla justo quis lacus. Praesent sollicitudin dictum condimentum. Praesent consequat a ex et molestie. Integer maximus ipsum eu ex placerat, nec cursus lacus egestas. Morbi in quam felis.

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono_seguridad", class="img-fluid md-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus aspernatur provident quibusdam nisi! Exercitationem veritatis natus libero magni aliquam repellendus eum saepe, accusantium tenetur quos eius voluptatem quisquam itaque ea.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono_destino", class="img-fluid md-4")
                    h2.mb-4 Mejores Destinos 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus aspernatur provident quibusdam nisi! Exercitationem veritatis natus libero magni aliquam repellendus eum saepe, accusantium tenetur quos eius voluptatem quisquam itaque ea.

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono_precios", class="img-fluid md-4")
                    h2.mb-4 Los Mejores Precios
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus aspernatur provident quibusdam nisi! Exercitationem veritatis natus libero magni aliquam repellendus eum saepe, accusantium tenetur quos eius voluptatem quisquam itaque ea. 